*{
    background-color: aqua;
}

  .form-group {
    position: relative;
    margin: 20px 0;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
  }

  .form-label {
    position: absolute;
    left: 10px;
    top: 10px;
    background: white;
    padding: 0 5px;
    color: gray;
    transition: 0.2s ease all;
   
  }

  .form-input:focus + .form-label {
    top: -10px;
    left: 8px;
    font-size: 12px;
    color: blue;
  }